.historia {
  background-color: #11a79d; /* color turquesa */
  color: white;
  padding: 60px 40px;
  position: relative;
  overflow: hidden;
}
.contenido {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  gap: 40px;
}

.texto {
  width: 50%;
  font-size: 14px;
  line-height: 1.6;
}

.texto h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
}






























